.About {
  padding: 70px;
  text-align: justify;
  color: white;
  background-image: linear-gradient(150deg, orange, purple, rgb(193, 0, 186));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
}
.About h2 {
  text-align: center;
}
#btn-a {
  margin: 20px 450px;
  width: 200px;
  height: 35px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  color: black;
}
