.Cal {
  background-color: #f8f1ff;
  color: black;
  padding: 70px;
}
#num {
  font-size: 54.9px;
}
#num1 {
  font-size: 54.9px;
}

.icon {
  display: flex;
  justify-content: space-evenly;
}
img {
  height: 100px;
  width: 100px;
}
.icon1 {
  width: 30%;
}
.icon a {
  text-align: center;
}
.icon1 p {
  text-align: center;
  color: #502bd6;
}

div a {
  color: #ff6648;
}
