.Cal {
  background-color: #f8f1ff;
  color: black;
  padding: 70px;
}
.Cal #num {
  margin: 0;
  padding: 0;
  font-size: 54.9px;
}
.Cal #num1 {
  font-size: 54.9px;
}
.Cal > img {
  margin-bottom: 20px;
}

.Cal .icon {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}
.Cal img {
  height: 100px;
  width: 100px;
}
.Cal .icon1 {
  width: 25%;
}
.icon a,
.icon Link {
  text-align: center;
}
.icon1 p {
  width: 250px;
  text-align: justify;
  color: #502bd6;
}
div a,
div Link {
  color: #ff6648;
}
