.GetStarted {
  display: flex;
  flex-direction: row;
}
.GetStarted .a {
  width: 70%;
  padding: 50px 80px;
  font-weight: 500;
}
.GetStarted .b {
  width: 30%;
  padding: 10% 15%;
  font-weight: bolder;
  color: white;
  background-image: linear-gradient(150deg, orange, purple);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.a label {
  margin: 10px 0;
  display: block;
  height: 30px;
}
.a input {
  border: 1px solid black;
  height: 25px;
  border-radius: 30px;
  float: right;
}
#ag {
  margin: 0 50px;
  display: inline;
}
#user-agree {
  float: none;
  width: 12px;
  margin-right: 20px;
  position: relative;
  top: 7px;
}
#btn-g,
#btn-g1 {
  margin: 20px 140px;
  width: 200px;
  height: 35px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
}
#btn-g1 {
  background-image: linear-gradient(90deg, #b411e5, rgb(241, 118, 215));
  color: white;
}
#btn-g {
  border: 1px solid black;
  background-color: white;
}
.a #p-g {
  margin: auto;
  text-align: center;
}
