.Image {
  background-image: url("./Mountains.png");
  margin-top: 0px;
  padding-top: 62px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Image h1,
.Image p {
  text-align: left;
  margin: 0;
  padding: 50px;
}
.Image h1 {
  font-size: 75.9px;
}
.Image a {
  text-decoration: none;
}
