.LogIn {
  text-align: center;
  display: flex;
  justify-content: center;
}
#one,
#two {
  width: 50%;
  height: 100vh;
  font-size: 30px;
  align-items: center;
}
#one {
  background-color: #99599c;
  color: white;
}
#two {
  color: #99599c;
}
.LogIn input {
  border-radius: 30px;
  padding: 5px 15px 5px 15px;
  margin: 10px;
}
input[type="button"] {
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
#one input[type="button"] {
  color: #99599c;
  margin: 20px;
  background-color: white;
}
#two input[type="button"] {
  background-color: #99599c;
  color: white;
  margin: 20px;
}
#two input {
  border: 1px solid #99599c;
}
.LogIn p {
  font-size: 20px;
  text-decoration: underline;
}
#simp {
  text-decoration: none;
  margin-top: 0;
}
