.MarketUp {
  padding: 50px 50px 0 50px;
  color: white;
  font-size: 44.5px;
}
.MarketUp .img {
  height: 200px;
  overflow-y: hidden;
}
.MarketUp img {
  width: 810px;
  height: 400px;
  overflow-x: scroll;
  position: relative;
  top: -50%;
}
.Search {
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
input,
button {
  height: 30px;
  border: none;
}
input {
  border-radius: 30px 0 0 30px;
  width: 45%;
}
button {
  height: 32px;
  width: 70px;
  border-radius: 0 30px 30px 0;
}
