.MarketUp {
  padding: 50px 50px 0 50px;
  color: white;
  font-size: 44.5px;
}
.MarketUp img {
  width: 70%;
  height: 400px;
  border: 1px solid black;
}
.Search {
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
input,
button {
  height: 30px;
  border: none;
}
input {
  border-radius: 7px 0 0 7px;
  width: 300px;
}
button {
  height: 32px;
  border-radius: 0 7px 7px 0;
}
