.MarketUp {
  padding: 50px 50px 0 50px;
  color: white;
  font-size: 44.5px;
}
.MarketUp .img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 40px;
  padding: 10px;
}
.MarketUp p {
  width: 100px;
  font-size: 15px;
}
.MarketUp img {
  align-self: center;
  width: 60px;
  height: 60px;
  overflow-x: scroll;
}
.img a {
  color: white;
}
.MarketUp .icon {
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 30px;
  padding: 5px;
}
.Search {
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
input,
button {
  height: 30px;
  border: none;
}
input {
  border-radius: 30px 0 0 30px;
  width: 45%;
  padding-left: 10px;
  padding-right: 10px;
}
button {
  height: 32px;
  width: 70px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}
