.MarketDown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 100px 0;
  margin: 0;
}
.MarketDown #more {
  cursor: pointer;
  color: #ff6648;
  width: 200px;
  height: 30px;
  margin: 20px 4% 0 4%;
}
@media only screen and (max-width: 875px) and (min-width: 500px) {
  .MarketDown #more {
    width: 200px;
    height: 30px;
    margin: 140px 4% 0 4%;
  }
}
