.Nav {
  background-color: white;
  color: black;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  position: fixed;
}
#now {
  color: #ff6648;
}
.Nav a {
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  width: auto;
  color: black;
}
.Nav a:hover {
  color: #ff6648;
}
.dropbtn img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.dropdown .dropbtn {
  color: black;
  width: 90px;
  height: 50px;
  background-color: white;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
}
.dropbtn:hover,
.dropdown button:hover {
  color: #ff6648;
}
.dropdown button {
  background-color: white;
  margin: 10px;
  font-size: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 70px;
  text-align: left;
}
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  width: 80px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  left: 0;
}
