.ReadMoreAndAct {
  margin: 0;
  padding: 0;
}
.ReadMoreAndAct img {
  width: 100%;
  height: 200px;
}
.ReadMoreAndAct .yks {
  border: 1px solid black;
  margin: 0 70px;
  line-height: 20px;
}
.ReadMoreAndAct button {
  width: fit-content;
  border-radius: 0;
}
