.SupplierN {
  width: 200px;
  height: 315px;
  background-color: white;
  flex-basis: 200px;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SupplierN img {
  width: 200px;
  height: 40%;
  padding: 0;
  margin: 0;
}
.SupplierN p {
  font-size: small;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}
.SupplierN .p1 {
  font-weight: bolder;
}
.SupplierN .p2 {
  font-weight: bold;
}
.SupplierN .p3 {
  text-align: justify;
  font-size: 11px;
  padding: 1em;
}
.SupplierN a {
  padding-bottom: 5px;
}
a {
  text-decoration: none;
}
